* {
  font-family: "Quicksand", 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  /* Text remains visible */
  border-radius: 25px;
  /* Ensure consistency with your TextField styling */
  transition: background-color 5000s ease-in-out 0s;
  /* Prevent flicker */
}